/* Declare CSS Variables */
:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  --heading-font-family: "Mukta", sans-serif;
  --nav-color: rgba(0, 0, 0, 0.55);
  --nav-color-active: rgba(0, 0, 0, 0.9);
  --paragraph-font-family: "Quicksand", sans-serif;
  --primary-color: #596e79;
  --primary-color-half-opacity: rgba(89, 110, 121, 0.5);
  --secondary-color-1: #fff;
  --secondary-color-2: #dfd3c3;
  --secondary-color-3: #f0ece2;
  --secondary-color-3-half-opacity: rgba(240, 236, 226, 0.5);
  --text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--paragraph-font-family);
}

h1 {
  color: var(--secondary-color-1);
  font-family: "Dancing Script", cursive;
  font-size: 96px !important;
  text-shadow: var(--text-shadow);
}

h2 {
  color: var(--secondary-color-1);
  font-family: var(--heading-font-family);
  font-size: 48px !important;
  font-weight: 200 !important;
  text-shadow: var(--text-shadow);
}

h3 {
  color: var(--secondary-color-2);
  font-size: 72px !important;
  font-weight: 200 !important;
  opacity: 0.8 !important;
  text-align: center;
}

p {
  color: var(--secondary-color-3);
  font-size: 18px;
  line-height: 1.5;
}

section {
  padding: 60px;
}

/* Header Styling */
header {
  background-color: var(--secondary-color-1);
  display: flex;
  justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: var(--nav-color);
}

header a:hover {
  color: var(--nav-color-active);
}

header nav {
  margin: 10px 0;
}

header nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
  padding: 5px 15px;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95vh;
  position: relative;
}

.hero video {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-cta,
.hero-button {
  margin: 20px;
  mix-blend-mode: overlay;
  text-shadow: var(--text-shadow);
}

.hero-cta h1 {
  color: var(--secondary-color-1);
  font-size: 150px !important;
}

.hero-cta h2 {
  color: var(--secondary-color-1);
  font-size: 24px !important;
  font-weight: 200 !important;
  text-align: center;
}

.btn-hero {
  background: var(--primary-color-half-opacity);
  border: 2px var(--secondary-color-1) solid !important;
  border-radius: 0px !important;
  box-shadow: var(--box-shadow);
  color: var(--secondary-color-1) !important;
  display: inline-block;
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 10px 30px;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
}

.btn-hero:hover {
  background: var(--secondary-color-1);
  color: #000 !important;
}

/* About Me Section Styling */
.about {
  background: var(--primary-color-half-opacity);
}
.about-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
}

.about-image {
  flex: 1 30%;
  margin-right: 20px;
}

.about-image img {
  border-radius: 50%;
  max-width: 80%;
}

.about-text {
  flex: 12;
}
