/* Declare CSS Variables */
:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  --heading-font-family: "Mukta", sans-serif;
  --nav-color: rgba(0, 0, 0, 0.55);
  --nav-color-active: rgba(0, 0, 0, 0.9);
  --paragraph-font-family: "Quicksand", sans-serif;
  --primary-color-gray: #596e79;
  --primary-color-gray-half-opacity: rgba(89, 110, 121, 0.5);
  --secondary-color-white: #fff;
  --secondary-color-beige: #f0ece2;
  --secondary-color-beige-half-opacity: rgba(240, 236, 226, 0.25);
  --secondary-color-lavender: rgba(203, 195, 227, 0.5);
  --text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--paragraph-font-family);
}

a {
  text-decoration: none;
}

h1 {
  color: var(--secondary-color-white);
  font-family: "Dancing Script", cursive;
  font-size: 150px;
  text-shadow: var(--text-shadow);
}

h2 {
  color: var(--secondary-color-beige);
  font-family: var(--heading-font-family);
  font-size: 72px;
  font-weight: 200;
  text-align: center;
}

h3 {
  color: var(--secondary-color-white);
  font-size: 40px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  text-shadow: var(--text-shadow);
}

p {
  color: var(--secondary-color-beige);
  font-size: 18px;
  line-height: 1.5;
}

section {
  padding: 60px;
}

/* Header Styling */
header {
  background-color: var(--secondary-color-white);
  display: flex;
  justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: var(--nav-color);
}

header a:hover {
  color: var(--nav-color-active);
}

header nav {
  margin: 10px 0;
}

header nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

header nav ul li {
  padding: 5px 15px;
}

/* Hero Section Styling */
.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95vh;
  position: relative;
}

.hero video {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-cta,
.hero-button {
  margin: 20px;
  mix-blend-mode: overlay;
  text-shadow: var(--text-shadow);
}

.hero-cta p {
  color: var(--secondary-color-white);
  font-size: 24px;
  text-align: center;
}

/* Hero Button & Section Button Styling */
.btn-hero {
  background: var(--primary-color-gray);
  font-weight: 800 !important;
}

.section-links {
  background: var(--primary-color-gray-half-opacity);
  font-weight: 600;
}

.btn-hero,
.section-links {
  border: 2px var(--secondary-color-white) solid;
  border-radius: 0px;
  box-shadow: var(--box-shadow);
  color: var(--secondary-color-white);
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
}

.btn-hero:hover,
.section-links:hover {
  background: var(--secondary-color-white);
  color: #000;
}

/* General Section Styling */
.section-title-primary {
  border-bottom: 1px solid var(--primary-color-gray);
  margin: 0 auto;
  width: 50%;
}
.section-title-secondary {
  border-bottom: 1px solid var(--secondary-color-beige);
  margin: 0 auto;
  text-shadow: var(--text-shadow);
  width: 50%;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
}

.section-primary {
  background: var(--secondary-color-lavender);
}

.section-primary h2,
.section-primary p {
  color: var(--primary-color-gray);
}

/* About Me Section Styling */
.about-image {
  flex: 1 30%;
  margin-right: 20px;
}

.about-image img {
  border-radius: 50%;
  max-width: 80%;
}

.about-text {
  flex: 12;
}

/* My Work Section Section */
.projects {
  background-image: url("../images/pexels-natalie-1201538.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

.project-container {
  background: var(--primary-color-gray-half-opacity);
  border-radius: 10px;
  padding: 5%;
}

.project-tile-primary .project-image {
  flex: 2 60%;
  margin-right: 40px;
}

.project-tile-primary .project-image img {
  border-radius: 10px;
  max-width: 100%;
}

.project-tile-primary .project-desc {
  flex: 10;
}

.secondary-projects {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
}

.secondary-project-tile {
  flex: 1;
  margin: 20px;
}

.secondary-project-tile img {
  border-radius: 15px;
  max-width: 100%;
}

.secondary-project-tile .project-desc {
  flex: 5;
  text-align: center;
}

.image-link:hover {
  border: 2px var(--secondary-color-white) solid;
  border-radius: 0px;
  box-shadow: var(--box-shadow);
  display: inline-block;
  padding: 10px 30px;
}

.section-links {
  margin-top: 15px;
}

/* Contact Section Styling */
.contact-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-icons {
  margin: 20px;
}

.fab,
.fas {
  color: var(--primary-color-gray);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  padding: 10px;
}

/* Footer Styling */
footer {
  background-color: var(--secondary-color-white);
  text-align: center;
  padding: 10px;
}

footer p {
  color: var(--secondary-color-gray);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  /* this will be applied on any screen smaller than 980px */
  h3 {
    font-size: 26px;
    font-weight: 600;
  }

  .section-links {
    font-size: 18px;
    text-align: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  /* this will be applied on any screen between 768px and 575px */
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 52px;
    text-align: center;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  .about-container {
    flex-direction: column;
  }

  .about-image {
    text-align: center;
  }

  .about-image img {
    border-radius: 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }

  .about-text {
    flex: 10;
  }

  .project-tile-primary .project-image {
    margin-left: 20px;
    margin-right: 20px;
  }

  .section-links {
    display: block;
    text-align: center;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  /* this will be applied on any screen smaller than 575px */
  h1 {
    font-size: 80px;
    text-align: center;
  }

  h2 {
    font-size: 5vh;
  }

  .flex-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .secondary-projects {
    padding-bottom: 0;
  }
  .secondary-project-tile {
    margin: 20px auto;
  }

  .section-links {
    font-size: 22px;
  }
}
